*{margin: 0;
padding: 0;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(rgb(250, 143, 161),rgb(254, 254, 46));
    height: 100vh;
}
button{
    padding: 15px 30px;
    border-radius: 10px;

}
.timer{
    padding: 15px;
    border-radius: 50%;
    color: aliceblue;
}